body {
    margin-right: 10%;
}

.prova {
    text-align: center;
    background-image: url('Immagini_gif/AutoProva.gif');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: middle;
}

.barra {
    height: 50px;
    width: 60px;
}

.spinner-border {
    margin-left: 20%;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
}